<article class="flex w-80 mx-auto flex-col items-start justify-between" id="<%= dom_id blog %>">
  <h2 class="my-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
    <%= blog.title.upcase %>
  </h2>
  
  <!-- image cover -->
  <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
    <% if blog.image_source.present? && valid_link?(blog.image_source) %>
      <%= link_to blog_path(blog.slug) do %>
        <%= image_tag blog.image_source, alt: blog.title, class: "h-full w-full object-cover object-center object-top" %>
      <% end %>
    <% else %>
      <%= link_to blog_path(blog.slug) do %>
        <%= image_tag("astro.png", class: "h-full w-full object-cover object-center object-top", alt: "") %>
      <% end %>
    <% end %>
  </div>

  <!-- content -->
  <div class="group relative">
    <%= render partial: 'home/shared/tags', locals: { tags: blog.tags } %>
    <p class="mt-5 text-sm leading-6 text-gray-600 trix-content"><%= blog.content %></p>
  </div>
  
  <!-- author -->
  <%= render partial:'home/shared/author', locals: { author: blog.author } %>
</article>