<%= form_for(admin, as: :admin, url: admin.persisted? ? admins_admin_path(admin.id) : admins_admins_path, html: { method:
  admin.persisted? ? :put : :post }) do |f| %>
  <%= render "devise/shared/error_messages" , resource: admin %>

    <div class="mb-4">
      <%= render "shared/avatar", resource: admin, class: "block mb-1" %>
      <%= f.file_field :avatar, class: "form-input w-full"%>
    </div>

    <div class="mb-4">
      <%= f.label :first_name, class: "block mb-1" %>
        <%= f.text_field :first_name, class: "form-input w-full" %>
    </div>

    <div class="mb-4">
      <%= f.label :last_name, class: "block mb-1" %>
        <%= f.text_field :last_name, class: "form-input w-full" %>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: "block mb-1" %>
        <%= f.email_field :email, class: "form-input w-full" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block mb-1" %> <span class="text-sm">(leave blank if you don't want to change
          it)</span>
        <%= f.password_field :password, class: "form-input w-full" , autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <span class="text-xs">
              <%= @minimum_password_length %> characters minimum
            </span>
            <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block mb-1" %>
        <%= f.password_field :password_confirmation, class: "form-input w-full" , autocomplete: "new-password" %>
    </div>

    <div class="flex items-center justify-between">
      <%= link_to "Back", admins_admins_path, class: "ml-2 py-2 px-4 text-gray-600 hover:text-white text-sm rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-600" %>
      <div class="flex items-center">
        <%= f.submit admin.persisted? ? "Update" : "Create" ,
          class: "ml-2 py-2 px-4 text-gray-600 hover:text-white text-sm rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-600"
        %>
<% end %>
        <% if admin.persisted? %>
          <%= button_to "Delete" , admins_admin_path(admin.id), data: {
            confirm: "Are you sure you want to cancel the account?" ,
            turbo_confirm: "Are you sure you want to cancel the account?" }, method: :delete,
            class: "ml-2 py-2 px-4 text-sm text-red-800 hover:text-white hover:bg-red-800" %>
        <% end %>
      </div>
    </div>

<script>
  function togglePasswordField() {
    var passwordFields = document.getElementById("password_fields");
    var confirmationFields = document.getElementById("confirmation_fields");

    if (passwordFields.style.display === "none") {
      passwordFields.style.display = "block";
      confirmationFields.style.display = "block";
    } else {
      passwordFields.style.display = "none";
      confirmationFields.style.display = "none";
    }
  }
</script>