<!DOCTYPE html>
<html>
  <head>
    <title>Jasonmag</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-26HZ9ZVXYP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-26HZ9ZVXYP');
    </script>
    <meta name="description" content="<%= @meta_description %>">
    <meta name="keywords" content="<%= @meta_keywords %>">
    <meta name="portfolio_description" content="<%= @meta_portfolio_description %>">
    <meta name="portfolio_keywords" content="<%= @meta_portfolio_keywords %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_importmap_tags %>

    
  </head>

  <body>  
    <%= render_flash_message %>
    <%= yield %>
  </body>
</html>
